<!DOCTYPE html>
<html lang="en">
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Master Planner</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        bg: '#0f0f10',
                        panel: '#18181b',
                        muted: '#a1a1aa',
                        border: '#27272a',
                        accent: '#3b82f6'
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-bg text-white min-h-screen">

    {% block content %}{% endblock %}

</body>
</html>
